.collection-products {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
}

@media screen and (max-width: 990px) {
  .collection-products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 749px) {
  .collection-products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}
